<h2 class="text-center">SÁCH BÁN NHIỀU</h2>
<hr />

<div class="row">

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0001.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0002.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0003.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0004.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0005.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

    <div class="col-md-6 sachbannhieu-item">
        <img src="~/Images/KT0006.jpg" class="imgsachbannhieu" />
        <h4>Tên sản phẩm</h4>
        <p>
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
        </p>
    </div>

</div>